body {
  height: 100vh;
  width: 100%;
  background-image: url('../img/neighborhood.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #c2e7fa;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #c2e7fa;
}

#cloud-form {
  display: none;
  max-width: 500px;
}

#cloud-result {
  float:right;
  display: none;
  padding:50px;
  margin: 20px;
  min-width: 100px;
}

.cloud {
  text-align: center;
  background-image: url('../img/cloud2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 200px 75px;
  float: left;
  z-index: 2;
}

input{
  display: block;
  width: 200px;
  margin: 15px auto;
  padding: 10px;
  background-color:#c2e7fa;;
  border: 2px solid #D9E8ED;
  border-radius: 5px;
  color: white;
}

button {
  padding: 10px 20px;
  background-color:white;;
  border: 2px solid #c2e7fa;
  border-radius: 5px;
  color: #c2e7fa;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color:#c2e7fa;;
  color: white;
  border: 2px solid white;
}

.reduce {
  transform: scale(0.5, 0.5);
  left: 0;
}

#result {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
}


#result li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/cloud2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px 10px;
  margin: 2px;
  list-style:none;
  animation: cloud 3s linear;
  background-image:none;
  border: #D9E8ED 1px solid;
  border-radius: 10px;
}

@keyframes cloud {
  from {
    position: absolute;
    bottom: 50px;
    left: 0;
    width:200px;
    height: 110px;
    border: none;
    background-image: url('../img/cloud2.png');
  }

  to {
    left: 100vw;
    bottom: 125vh;
    background-image:none;
  }
}